/* Body */
body{
    background-color: #8fc063;
}

/*Nav Styles */


/* End of Nav Styles */
.navbar{
    background-color: #8fc063;
    padding-left: 50px;
    align-items: center;
    flex-direction: column;
    padding-top: 100px; 
}

.nav-link{
    color: white;
    font-size: 25px;
}

.nav-item a:hover{
    --c: #528b66; /* the color */
    
    color:#ffc34e;
    background: 
      linear-gradient(90deg,#fff 50%,var(--c) 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
    border-radius: 25%;
  }
  .nav-item a:hover{
    --_p: 100%
  }
  

/* Start of Hero/Header Section */

.header-text{
    font-size: 300px;
    color: rgba(225, 225, 225, 0.01);
    background-image: url(../images/breakfast.png);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-clip: text;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}



/* Start of Home Page Middle Section */

.middle-section{
    margin: 50px
}

.rimage, .limage, .l-info, .r-info{
    align-items: center;
    background-color: transparent;
    border: none;
    padding-bottom:100px;
}

#peep73{
    transform: scaleX(-1);
    height: 500px;
    filter: drop-shadow(0 0 30px rgb(86, 85, 85));
}

#peep96{
    height: 500px;
    filter: drop-shadow(0 0 30px rgb(86, 85, 85));
}

.info-text{
    padding-top: 125px;
    color: white;
}

.video-title{
    display:flex;
    justify-content: center;
    color: white;
    padding-bottom: 20px;
    padding-top: 100px;
}

.intro-vid{
    display: flex;
    justify-content: center;
}



/* search page */

.search-middle-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipe-body{
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    align-items: center;
}

.getRecipe a:link{
    color: white;
    text-decoration: none;
}

.getRecipe a:visited{
    color:#ff7b37;
    text-decoration: none;
}


.search-btns{
    display: flex;
    flex-direction: row;
}

.add-btn a:link{
    color: white;
}

.add-btn a:visited{
    color: #60868a;
}



/* Footer Section Styles */
.footer-text-flex{
    margin-top: 3vw;
    width: max-content;
}

#footer-logo{
    width:100%;
    max-width:100%;
}

#footer{
    flex-direction: row;
    justify-content: center;
    border-top: 1px dashed #c9d7d8;
    margin-top: 20vh;
    padding-bottom: 100px;
}

.footer-text-flex p{
    display: inline;
    justify-content: space-around;
    color: #c9d7d8
}


/* search page */
.search-header-title{
    padding-top: 100px;
    font-size: 200px;
    color: rgba(225, 225, 225, 0.01);
    background-image: url(../images/middleeastern.png);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-clip: text;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.search-header-text, .profile-header-text{
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 100px;
}

.searchbar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 50px;
}

.search-field{
    width: 500px; 
}


.recipe-cards{
    display: flex;
    justify-content: center;
    background-color: #005069;
    border: none;
    margin: 50px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 20px -16px #7aa454c8;
}

.card-img-top{
    border-radius: 20px 20px 0px 0px;
}

.recipe-title{
    display:flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #96a7ad87;
    border: none;
    padding: 10px;
    font-size: 20px;
}

#get-recipe-btn{
    background: #c9d7d8;
    border: none;
}



.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
    border-radius: 25px;
    padding-top: 50px;
}


#email-field, #pass-field, #fname-field, #lname-field{
    width: 300px;
    padding: 10px;
}

.signuptitle{
    margin: 0;
    padding-top: 100px;
    font-size: 200px;
    color: rgba(225, 225, 225, 0.01);
    background-image: url(../images/watercolor-oranges.png);
    min-height: 300px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat:no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}


.signintitle{
    margin: 0;
    padding-top: 100px;
    font-size: 200px;
    color: rgba(225, 225, 225, 0.01);
    background-image: url(../images/watercolor-lemons.png);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

@keyframes animate {
    0%,
    100% {background-position: left top;}
    25% {background-position: right bottom;}
    50% {background-position: left bottom;}
    75% {background-position: right top;}
}


/* profile */
.profile-header-title{
    padding-top: 100px;
    font-size: 200px;
    color: rgba(225, 225, 225, 0.01);
    background-image: url(../images/vietnamese.png);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-clip: text;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}