/* Body */
body{
    background-color: #8fc063;
    margin: 50px;

}

/*Nav Styles */


/* End of Nav Styles */
.navbar{
    background-color: #8fc063;
    padding-left: 50px;
    align-items: center;
    flex-direction: column;
    padding-top: 100px; 
}

.nav-link{
    color: white;
    font-size: 25px;
}


/* Start of Hero/Header Section */

.header-text{
    margin: 0;
    padding-top: 200px;
    font-size: 300px;
    color: rgba(225, 225, 225, 0.01);
    background-image: url(../images/vietnamese.png);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-clip: text;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}




/* End of Hero/Header Section */

/* Start of Middle Section Styles */

.rimage, .limage, .l-info, .r-info{
    background-color: transparent;
    border: none;
    padding-bottom:100px;
}

#peep73{
    transform: scaleX(-1);
    height: 500px;
    filter: drop-shadow(0 0 30px rgb(86, 85, 85));
}

#peep99{
    height: 500px;
    filter: drop-shadow(0 0 30px rgb(86, 85, 85));
}

.card-body{
    color: white;
    text-align: center;
}

.info-text{
    padding-top: 200px;
}

.intro-vid{
    display: flex;
    justify-content: center;
}

.video-title{
    display:flex;
    justify-content: center;
    color: white;
    padding-bottom: 20px;
    padding-top: 100px;
}


/* End of Middle Section Styles */

/* Start of Features Section Styles */

#features-section{
    margin: 8vw;
}
/* End of Features Section */

/* Community Section Styles */

/* End of Community Section */

/* Footer Section Styles */
.footer-text-flex{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

#footer-logo{
    width:100%;
    max-width:100%;
}

#footer{
    border-top: 3px solid black;
    margin-top: 20vh;
}

.list_recipes{
    display: flex;
    justify-content: center;
}



/* search page */
.search-header-title{
    margin: 0;
    padding-top: 200px;
    font-size: 250px;
    color: rgba(225, 225, 225, 0.01);
    background-image: url(../images/vietnamese.png);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-clip: text;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.search-header-text{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.searchbar{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.search-field{
    width: 500px; 
    background-color:#ffc34e !important;
}


.recipe-cards{
    display: flex;
    background-color: transparent;
    border: none;
    margin: 100px;
    height: 200px;
}

.recipe-img{
    border-radius: 20px;
    height: 200px;
}

.recipe-card-body{
    width: 300px;
}

.recipe-title{
    display:flex;
    text-align: center;
    color: white;
    background-color: transparent;
    border: none;
    padding: 10px;
}


.search-middle-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
