<form method = "POST">
    {{ form.hidden_tag() }}
    <div class="login-box">
      <div class="login name-field">
        <fieldset id="fname-field">
            {{ form.first_name.label }}
            {{ form.first_name(class="form-control", placeholder="First name" )}}
        </fieldset>
        <fieldset id="lname-field">
            {{ form.last_name.label }}
            {{ form.last_name(class="form-control", placeholder="Last name" )}}
        </fieldset>
      </div>  
        <fieldset id="email-field">
            {{ form.email.label }}
            {{ form.email(class = "form-control", placeholder= "Enter email here...") }}
        </fieldset>
        <fieldset id="pass-field">
            {{ form.password.label }} 
            {{ form.password(class= "form-control", placeholder= "Enter password here...")}}
        </fieldset>
        <div id="login-submit-btn">
            
            {{ form.submit_button(class="btn btn-outline-dark btn-block") }}
        </div>
    </div>
</form>