{% extends 'base.html' %}

{% block content %}

<div class="container home-page">
    <!--Header Section-->
    <header class="header">
        <!--Header Image-->
        <!-- <div class="header">
            <img class="header-image1" src="../../static/images/vietnamese.png">
            <img class="header-image2" src="../../static/images/japanese.png"> -->
        <!-- Header Text -->
            <div class="col header-text">
                <h2>Nutrition shouldn't be complicated</h2>
                <h5>Keep it simple. Just the Basics.</h5>
            </div>
            <div class="header-btns">
                <button class="btn btn-primary">Sign Up today!</button>
                <button class="btn btn-primary">About Us</button>
            </div>
        <!-- </div> -->
    </header>
    <!--End of Header Section-->

    <!--Start Middle Section-->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Choose your focus</h2>
            <p>Track your food and your mood, get tips!</p>
        </div>
    </section>
    <!--End of Middle Section-->

    <!--Collection of Features Section-->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <!-- <img src="../../static/images/vietnamese.png" alt="breakfast" id="breakfast-image"> -->
            <h4>Dedicated API Routes</h4>
            <p>
                If you are a fan of using traditional API routes, we have those for you!
            </p>
        </div>

        <!-- <div class="col-12 col-md-4">
            <img src="../../static/css/images/thanksgiving.png" alt="thanksgiving" id="graphql-image">
            <h4>GraphQL API Route</h4>
            <p>
                If you want ALL data from one endpoint, we have that too!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../static/images/db.png" alt="database-image" id="database-image">
            <h4>Backed By a PostgreSQL Database</h4>
            <p>
                All data will be persisted inside of a secure Postgres Database.
            </p>
        </div> -->
    </section>
    <!--End of Collection Features-->

    <section class="row">

        <div class="col-12 col-md-6">
            <h4>Talk with like minded drone collectors</h4>
            <p>
                Talk with other devs around the world and collab
                on projects with you data. Join our slack channel and give
                a star to the project on Github!
            </p>
            <div>
                <button class="btn btn-primary">View On Github</button>
                <button class="btn btn-primary">Join Our Slack Channel!</button>
            </div>
        </div>
    </section>
    <!--End of Community Section-->

    <!--Start of Footer-->
    <footer class="row" id="footer">


        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>


</div>

{% endblock content %}