{% extends 'base.html' %}

{% block content %}

<div class="container home-page">
    <!--Header Section-->
    <header class="header">
        <!--Header Image-->
        <div class="header">
            <!-- <img class="header-image1" src="../../static/images/vietnamese.png">
            <img class="header-image2" src="../../static/images/japanese.png"> -->
        <!-- Header Text -->
            <div class="header-text">basics</div>
        </div>
        <!-- </div> -->
    </header>
    <!--End of Header Section-->

    <!--Start Middle Section-->
<section class="middle-section">
    <div class="row">
        <div class="col-sm-6">
          <div class="card l-info">
            <div class="card-body info-text">
              <h1 class="card-title">Search Recipes by Ingredient</h1>
              <p class="card-text">
                Have you ever found yourself staring blankly at the open fridge, condensation dripping from the shelves? 
                Have you ever found yourself perplexed as to what to make with yesterday's leftover ingredient? We have. 
                We got tired of the same recipes, and tired of scratching our heads thinking about what else to make. 
                Maybe that's what brought you here. Well, you've come to the right place. Our extensive database includes
                recipes by some of the best chefs around the world! All you have to do is choose your main ingredient. Start today!
            </p>
              <a href="#" class="btn btn-warning">Search Ingredients</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card rimage">
            <div class="card-body">
              <img id="peep73" src="../../static/images/peep-73.png"/>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-6">
          <div class="card limage">
            <div class="card-body">
                <img id="peep99" src="../../static/images/peep-99.png"/>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card r-info">
            <div class="card-body info-text">
              <h1 class="card-title">Sign Up Today</h1>
              <p class="card-text">
                When you sign up with Basics, you get more than the amazing database we provide. You get to 
                save those recipes for later in your very own profile! You're a busy guy/gal/bud and you don't
                have time to memorize ideas. Leave 'em with us. We'll keep them safe for you here. Sign up today!
              </p>
              <a href="#" class="btn btn-warning">Sign Up</a>
            </div>
          </div>
        </div>
      </div>

    </section>

    <h1 class="video-title">Learn More</h1>
    <div class="intro-vid">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/R-do5R-T-BA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


    <!--End of Middle Section-->

    <!--Collection of Features Section-->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <!-- <img src="../../static/images/vietnamese.png" alt="breakfast" id="breakfast-image"> -->
            <h4>Dedicated API Routes</h4>
            <p>
                If you are a fan of using traditional API routes, we have those for you!
            </p>
        </div>

        <!-- <div class="col-12 col-md-4">
            <img src="../../static/css/images/thanksgiving.png" alt="thanksgiving" id="graphql-image">
            <h4>GraphQL API Route</h4>
            <p>
                If you want ALL data from one endpoint, we have that too!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../static/images/db.png" alt="database-image" id="database-image">
            <h4>Backed By a PostgreSQL Database</h4>
            <p>
                All data will be persisted inside of a secure Postgres Database.
            </p>
        </div> -->
    </section>
    <!--End of Collection Features-->

    <section class="row">

        <div class="col-12 col-md-6">
            <h4>Talk with like minded drone collectors</h4>
            <p>
                Talk with other devs around the world and collab
                on projects with you data. Join our slack channel and give
                a star to the project on Github!
            </p>
            <div>
                <button class="btn btn-primary">View On Github</button>
                <button class="btn btn-primary">Join Our Slack Channel!</button>
            </div>
        </div>
    </section>
    <!--End of Community Section-->

    <!--Start of Footer-->
    <footer class="row" id="footer">


        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
<!-- 
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer> -->


</div>

{% endblock content %}