{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'auth-success' %}
                <div class="alert alert-warning alert-dismissible fade show login-notification" role="alert">
                    <strong>Success!</strong> You've logged into your account. Enjoy!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %} 
</div>

<header class="hero-section">
    <h3 class="search-header-title">Search</h3>
    <h3 class= "search-header-text">for your next meal</h3>
</header>


<!-- <div class="container">
    <ul class="list-group">
        <li class="list-group-item">Email: {{ current_user.email }}</li>
        <li class="list-group-item">Token: {{ current_user.token }}</li>
        <a href = "#" id="sourceLink"></a>
    </ul>
</div>  -->


<!-- <h1 class="pt-5 pb-2">List of nutrition info</h1> -->

      <!-- <p class="lead alert alert-warning">Here is a list of recipes for this week</p> -->
    <div class="searchbar">
        {% include 'searchform.html' %}
    </div>

        {% if data %}
        <div>there is data</div>
        {% else %}
        <div>no data</div>
        {% endif %}

        <div class="search-middle-content">
            
        {% for recipe in data %}
        <div class="card recipe-cards" style = 'width: 18rem;'>
            <img class="card-img-top recipe-img" alt="Card image cap" src="https://photo-cdn2.icons8.com/d94eJjIkp9-Wo5j4hn-t0GNq_UwBArL21AqWF29ayII/rs:fit:1608:1072/czM6Ly9pY29uczgu/bW9vc2UtcHJvZC5h/c3NldHMvYXNzZXRz/L3NhdGEvb3JpZ2lu/YWwvMzAyLzliY2Vh/MDNmLWRlODUtNDMx/ZC05NzBiLTBjNWM4/M2I0Y2VmYi5qcGc.jpg" ></img>
                <div class="recipe-card-body">
                    <h5 class="card recipe-title">{{ recipe.title }}</h5>
                    <p class="card recipe-title">
                        <!-- <a href="{{recipe.sourceUrl}}">{{recipe.sourceUrl}}</a> -->
                    </p>
                    <div class="search-btns">
                        <button class="btn btn-warning btn-block"><a href="{{recipe.sourceUrl}}">Get Recipe</a></button>
                        {% include 'addform.html' %}
                    </div>
                </div>
            </div>
        {% endfor %}  
        </div>




{% endblock content %}