{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'auth-success' %}
                <div class="alert alert-warning alert-dismissible fade show login-notification" role="alert">
                    <strong>Success!</strong> You've logged into your account. Enjoy!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %} 
</div>


<main class="container">
    <div class="row">
        <h2 class="signintitle">Sign In</h2>
        <aside class="col signin-box">
            {% include 'forms.html' %}
        </aside>
    </div>
</main>



{% endblock content %}



<!-- would like to use this alert below:  -->
<!-- 
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->